{% extends "base.html" %}

{% block content %}
<!-- Select and book a lesson  -->

    {% if user.is_authenticated %}

        <div class="container-fluid row mt-5 justify-content-between" id="select-lesson">
            <div class="col-4" id="selection">
                <div>

                    <!-- Select piano or theory  -->
                    <div class="row d-flex justify-content-center" id="piano-theory">
                        <p class="h3 text-center">Select a lesson</p>
                        <div class="col-3 mt-3">
                            <button type="button" class="btn btn-outline-dark lesson-button lesson-button" id="piano-btn">Piano</button>
                        </div>
                        <div class="col-3 mt-3">
                            <button type="button" class="btn btn-outline-dark lesson-button lesson-button" id="theory-btn">Theory</button>
                        </div>
                    </div>

                    <!-- Select online or offline  -->
                    <div id="online-offline">
                        <p class="h3 text-center d-none" id="select-lesson-type">Select lesson type</p>
                        <div class="row justify-content-center">
                            <p class="h3 text-center d-none" id="select-date">Select date <i class="bi bi-info-circle-fill text-info"></i></p>
                            <p class="book-for d-none" id="book-for-1">Booking for </p>
                            <p class="select-btn d-none" id="piano">Piano</p>
                            <p class="select-btn d-none" id="theory">Theory</p>
                            <p class="select-btn d-none text-center" id="online">Online</p>
                            <p class="select-btn d-none text-center" id="offline">Offline</p>
                        </div>
                        <div class="row d-flex justify-content-center d-none" id="oo-buttons">
                            <div class="col-3 mt-3">
                                <button type="button" class="btn btn-outline-dark lesson-button" id="online-btn">Online</button>
                            </div>
                            <div class="col-3 mt-3">
                                <button type="button" class="btn btn-outline-dark lesson-button" id="offline-btn">Offline</button>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn text-center mt-5 back-button" id="back-lesson"><i class="fa-solid fa-arrow-left fa-fw"></i>Back to lesson selection</button>
                            </div>
                        </div>
                    </div>

                    <!-- Select date  -->
                    <div id="calendar" class="d-none">
                        <div class="row justify-content-center">
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-3 mt-3 d-flex justify-content-center">
                                <div id="date" class="border border-dark">
                                    <div id="datepicker">
                                    </div>
                                        <input type="hidden" id="my_hidden_input">
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn text-center mt-5 back-button" id="back-lesson-type"><i class="fa-solid fa-arrow-left fa-fw"></i>Back to lesson type selection</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Contacts  -->
                <div class="d-flex justify-content-center mt-5">       
                    <div id="contacts">
                        <p id="contacts-font">CONTACTS</p>
                        <p>
                            32 Nicholas Street <br>
                            Cork <br>
                            T12P9033 <br>
                            Phone: +353 085 87654321 <br>
                            E-mail: piano.email@school.com
                        </p>
                    </div>
                </div>
            </div>

            <!-- My upcoming bookings  -->
            <div class="col-3">
                <div class="text-center">
                    <p class="text-center h5">My upcoming bookings:</p>
                    <div class="mt-4">

                        {% for booking in bookings_list %}
                            {% if booking.status.status == 1 %}

                                <p id="upc-book">{{ booking.lesson }} {{ booking.lesson_type }} | {{ booking.date }}</p>
                            
                            {% endif %}
                        {% endfor %}

                    </div>
                    <button type="button" class="btn btn-outline-dark ms-auto" id="manage-bookings">Manage bookings</button>
                </div>
            </div>
        </div>

    {% else %}

        <p class="h3 mt-5 text-center">
            Please <a class="text-info text-decoration-none" href="#"> Sign Up</a> 
            or <a class="text-info text-decoration-none" href="#">Login</a> in order to make a reservation
        </p>    

    {% endif %}

{%endblock%}